<footer class="text-gray-600 body-font absolute bottom-0 left-0 right-0">
  <div
    class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col"
  >
    <a
      class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900"
    >
      <i
        class="fa-solid fa-masks-theater w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
      ></i>
      <span class="ml-3 text-xl">Tailblocks</span>
    </a>
    <p
      class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4"
    >
      © 2024 Anonymous-V18 —
      <a class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">
        &#64;Anonymous-V18
      </a>
    </p>
    <span
      class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start"
    >
      <a class="text-gray-500">
        <i class="fa-brands fa-facebook w-5 h-5"></i>
      </a>
      <a class="ml-3 text-gray-500">
        <i class="fa-brands fa-twitter w-5 h-5"></i>
      </a>
      <a class="ml-3 text-gray-500">
        <i class="fa-brands fa-instagram w-5 h-5"></i>
      </a>
      <a class="ml-3 text-gray-500">
        <i class="fa-brands fa-linkedin w-5 h-5"></i>
      </a>
    </span>
  </div>
</footer>
